@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


.navbar{
    z-index: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 1s;

}
/* Navbar logo */
.nav-logo{
    width: 80px;
}
#meny{
    align-self: center;
    display: flex;
    flex-flow: row;
    gap: 10px;

}
.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;

}
.navbar a:hover{
    border-left: 1px #28a745 ridge;
    border-right: 1px #28a745 ridge;

}

#phone-nav{
    color: #28a745 ;
    padding: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid #28a745 ;
}

@media screen and (min-width:700px) {
    #phone-nav{
    display: none;
    }    
    }
@media screen and (max-width:700px) {
#meny{
display: none;
flex-flow: column;
}    
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/main.jpg') no-repeat center center/cover;
    height:100vh;
    position: relative;
    color: #fff;   
}
.hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
      
}
.hero .content h1{
    font-family: Caveat;
color: rgb(255, 255, 255) !important;
    margin-bottom: 1rem;
    font-size: 7rem;

}
.hero .content p
{
    color: #fff !important;
    font-family: Caveat;
font-size: 4rem;
margin: 1rem;

}

#znamenitosti h2{
    text-align: center;
    padding: 10px 0;
}
#znamenitosti h3{
    text-align: center;
font-size: 2rem;
font-weight: 300;
line-height: 1.2;
margin: 15px 0;    
}
.card{
    text-align: start;
    padding: 5%;

}


/*Galerija*/
.wrapper-gallery{
    margin: 0 20px;
}
#index-gallery{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 0.5rem;

}

#index-gallery .gallery-img{
  cursor: pointer;

}

@media screen and (max-width:700px) {
    #index-gallery{
        grid-template-columns:auto auto;

        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6" 
        "img7 img8"
        "img9 img10" 
        "img11 img12";
    }
}

.gallery-img >img{
    width: 100%;
    height: 100%;
}
#index-gallery .img1{
    grid-area: img1;
}
#index-gallery .img2{
    grid-area: img2;
}
#index-gallery .img3{
    grid-area: img3;
}
#index-gallery .img4{
    grid-area: img4;
}
#index-gallery .img5{
    grid-area: img5;
}
#index-gallery .img6{
    grid-area: img6;
}
#index-gallery .img7{
    grid-area: img7;
}
#index-gallery .img8{
    grid-area: img8;
}
#index-gallery .img9{
    grid-area: img9;
}
#index-gallery .img10{
    grid-area: img10;
}
#index-gallery .img11{
    grid-area: img11;
}
#index-gallery .img12{
    grid-area: img12;
}
/*Mape */
#map >iframe{
    width:100%;height:400px;
}

#mape{
display: flex;
flex-flow: row;
flex-wrap: wrap;
}
#mape >div{
flex: 1;
}
@media screen and (max-width:700px) {
    #mape{
        flex-flow:column;
    }
}
.map-text{
    margin: 0 15px;
}
.tabela{
    border: 1px solid black;
    width: 50%;
    float: left;
    padding: 10px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }
.info-text{
    display: block;
    margin: 10px;
}
@media screen and (max-width:700px) {
    .tabela{
        width: 100%;
        float: none;
        padding: 10px;

    }
}

/*ABOUT PAGE*/
/* margine su zbog fixed navbara i futera */
#about-page{
    margin-top: 90px;
    margin-bottom: 90px;
}
#about-page .main-text{
 margin: auto;
 padding: 1rem 2rem;
 font-size: 1.1rem;
 line-height: 1.7;
 text-align: start;
}
#about-page a{
    color: #08e0f0;
   }
/*Footer*/

.footer-cards{
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap; 
    
    justify-content: space-between; 
}
.card-text{
    padding: 10px;
}
.footer-text{
    text-align: center;
    padding: 0.5rem;
}
.footer-cards >div{
    flex: 1;
}
.footer-cards img{
    height: 100%;
    width: 100%;
    
}
@media screen and (min-width:700px) and (max-width:1100px) {
    .footer-cards {
        flex-flow:column-reverse;
    }
  #logo-img{
      display: none;
  }
}
@media screen and (max-width:700px) {
    .footer-cards {
        flex-flow:column-reverse;
    }
  
}


/*Form*/
.form{
    background-color: #fff;
    color: #333;
    padding-left:  5%;
    padding-right:  5%;
    border: 1px solid #333;
    border-radius: 5%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
}
.form input{
    border: none;
    border-bottom:1px solid #28a745 ;
    text-align: center;
    width: 90%;
}
.form textarea{
    padding: 0.5rem;
    border: 1px solid #28a745 ;
    outline: #28a745 ;
}
.form label{
    padding: 0.2rem;
}
.form input{
    padding: 0.5rem;
}
.form input:focus{
    outline: none;

}
.form-info{
    font-size: small;
    text-align: center;
    margin-bottom: 0.5rem;

}
.obavezno::after{
    content: "*";
    color: red;
    padding: 1px;
}

/*History*/
#history{
    margin-top: 100px;
    padding-left: 5rem;
    padding-right: 5rem;    
}

#history p, #history em{
    
    line-height: 1.7rem;
    margin-left:23% ;
    margin-right: 23%;
}
#history .content-nav {
    border: 1px solid #333;
    max-width: fit-content;
    margin: auto;
    padding: 2rem;
}

@media screen and (max-width:700px){
    #history{
        margin-top: 100px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #history p, #history em{
    
        line-height: 1.7rem;
       margin: 1rem;

    }
}

.photo-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
    text-align: center;
}
.photo-box .img-high{
    width: 30%;
    
}
@media screen and (max-width:700px){
.photo-box >img{
    max-width: 100%;
}
.photo-box .img-high{
    width:80%;
    
}
}

/* Vremenska prognoza */
.prognoza{
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    height: 100vh;
}
.prognoza td{
    padding: 0.2rem;
}
.danger{
    display: none;
}

/*Work in progress*/
#lightboxBg {
    display: none;
    position: fixed;
    z-index: 150;
    top: 0px;
    background-color: rgba(150, 150, 150, 0.8);
    backdrop-filter: blur(2px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

#lightboxBg.active {
    display: flex;
}
#lightboxImg {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
#modalPhoto{
    max-height:550px;
}
#text{
    z-index: 2;
    color: #333;
}
#lightboxImg .fa-x {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
}
.fa-x:hover{
    transition: 1s;
    transform: scale(1.8);

}
#lightboxImg .fa-x:hover {
    cursor: pointer;
}

#lightboxImg .fa-arrow-circle-right {
    position: absolute;
    right: 50px;
    top: 50%;
    cursor: pointer;
}

#lightboxImg .fa-arrow-circle-left {
    position: absolute;
    /* left: -50px; */
    left: 50px;
    top: 50%;
    cursor: pointer;
}

@media(max-width: 768px) {
    #lightboxImg {
        max-width: 100%;
        max-height: 100%;
    }
    #modalPhoto{
        max-height:250px;
    }
    #lightboxImg .fa-arrow-circle-right {
        right: 5px;
    }

    #lightboxImg .fa-arrow-circle-left {
        left: 5px;
    }

    #lightboxImg .fa-x {
        top: 25%;
        right: 5px;
    }
}