*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Underline*/
.underline:hover{
    text-decoration: underline;
}
/*Wrapper*/
.wraper{
 max-width: 300px;
}
/*100vh*/
.hundredVH{
height: 91vh;
}
/*Colors*/
.primary-color{
    background-color: #28a745;
    color: #fff;
}
.primary-color-gradiant{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,167,69,1) 0%, rgba(203,255,5,1) 0%, rgba(60,156,95,1) 36%, rgba(59,157,98,1) 58%, rgba(16,38,26,1) 100%);
}
.secondary-color{
    background-color:#fff ;
    color: #333;
}
.footer-color{
    background-color: #333;
    color: #fff; 
}
.text-white{
    color: #fff;
}
.light-green{
    background-color: #FF5733;
    color: #fff;
}
.redAlert{
    color: red;
}

/*font*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 10px 10px;
}

.btn{
    text-align: center;
    padding: 0.6rem 0.7rem;

    cursor: pointer;
    border:none;
    border-radius: 1rem;
    margin: 2rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;

}
.btn-green{
    background-color: #28a745;
    color: #fff;
}
.btn-green:hover{

    background-color: rgb(82, 143, 47);
}
.btn-white{
    background-color:#fff ;
    color: #333;
}
.btn-white:hover{
    background-color:rgb(230, 221, 221) ;
    color: #333;
}
.social{
  
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
     
}
.social:hover{
    opacity: 0.7;

}
section{
    margin: 20px 10px;
}
.title{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
@media screen and (max-width:700px) {
    .grid{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


/*Center layout*/
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    height: 100%;
}


